.Sidebar {
    background-color: #b3b3b3;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.Sidebar ul{
    list-style-type: none;
    padding: 0;
}

.Sidebar li{
    background-color: #808080;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.Sidebar a{
    color: white;

}